html {
  scroll-behavior: smooth;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(
    95deg,
    rgba(18, 18, 18, 1) 0%,
    rgb(39, 39, 39) 57%
  );
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  background-color: #121212;
  padding: 10px;
  z-index: 2;
  border-bottom: 2px solid rgb(197, 197, 197);
}

nav ul.flex-container {
  gap: 45px;
  list-style: none;
  padding: 10px 40px;
  justify-content: space-between;
  align-items: center;
}

nav div ul {
  justify-content: center;
  gap: 35px;
}
nav ul a {
  color: white;
  text-decoration: none;
}
nav ul a:hover {
  color: #925ff0;
  text-decoration: underline;
}

nav ul li button {
  background-color: #925ff0;
  color: white;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
}
h1 {
  font-size: 144px;
  width: 700px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

section {
  scroll-margin-top: 100px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  justify-content: space-between;
  height: 650px;
  border-bottom: 2px solid rgb(197, 197, 197);
  overflow: hidden;
  padding-top: 125px;
  background-color: #121212;
}

.hero .image-layers {
  width: 350px;
  position: relative;
  align-self: flex-end;
}
.hero .image-layers img {
  width: 100%;
  object-fit: contain;
  z-index: 1;
  position: relative;
}
.hero .image-layers .bubble {
  min-width: 100%;
  height: 100%;
  background: #925ff0;
  position: absolute;
  z-index: 0;
  border-radius: 50%;
}
.hero .image-layers:first-child .bubble {
  left: -120px;
}
.hero .image-layers:last-child .bubble {
  left: 120px;
}

.bg-light {
  background: rgb(252, 252, 246);
  background: linear-gradient(
    103deg,
    rgba(252, 252, 246, 1) 0%,
    rgba(222, 222, 222, 1) 57%
  );

  color: black;
}
.text-section {
  padding: 250px 50px;

  justify-content: space-around;
}
.text-section .details {
  width: 50%;
}
.text-section div.details h2 {
  font-size: 64px;
  margin-bottom: 10px;
  width: fit-content;
}
.text-section div.details h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 20px;
  margin-top: 5px;
  background-color: #925ff0;
  transition: 0.5s all ease-in;
  border-radius: 4px;
}
.text-section div.details h2:hover::after {
  width: 100%;
}
.text-section div.details p {
  font-size: 22px;
  line-height: 1.6;
  max-width: 650px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.text-section img {
  border: 3px solid #925ff0;
  border-radius: 155px 155px 15px 15px;
  background-color: rgb(249, 244, 255);
  padding: 10px;

  max-width: 45%;
  max-height: 400px;
  object-fit: contain;
  transition: all 0.3s linear;
}
.text-section.bg-light img {
  border: 3px solid #925ff0;
  border-radius: 155px 155px 15px 15px;
  background-color: #121212;
  padding: 10px;

  max-width: 45%;
  max-height: 400px;
  object-fit: contain;
  transition: all 0.3s linear;
}
.text-section img:hover {
  transform: rotate3d(0.5, -0.5, 0.01, 45deg);
  transform-origin: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.skills {
  flex-wrap: wrap;
  gap: 34px;
  padding: 50px 25px;
  background: linear-gradient(
    8deg,
    rgba(74, 48, 122, 1) 0%,
    rgba(24, 24, 24, 1) 60%
  );
}

.skills .skill-card {
  display: block;
  width: 27.5%;
  border: 1px dashed #925ff034;
  background-color: #292929;
  padding: 64px 18px;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: 600;
  transition: 0.3s all ease-in;
  color: inherit;
  text-decoration: none;
}

.skills .skill-card p {
  margin: 0;
}
.skills .skill-card p:first-child {
  background: linear-gradient(90deg, #fa709a 0%, #fee140 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills .skill-card p:last-child {
  font-size: 54px;
}
.skills .skill-card:hover {
  cursor: pointer;
  transform: translate(10px, -10px);
  box-shadow: -10px 10px 2px 2px rgb(249, 244, 255);
}

@media (max-width: 1200px) {
  .flex-container {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 64px;
    width: 100%;
  }
  .hero {
    padding: 0;
    height: 100vh;
  }
  .hero .image-layers {
    display: none;
  }
  .skills .skill-card {
    width: 90%;
  }
  .text-section {
    padding: 20px 30px;
    margin: 90px auto;
    height: 100vh;
  }
  .text-section .details {
    width: 100%;
    margin: 10px auto;
  }
  .text-section img {
    max-width: 80%;
    border-radius: 20px;
  }
  .text-section div.details h2 {
    font-size: 32px;
  }

  header {
    display: none;
  }
}
