.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100px;
  min-width: 100px;
  height: 200px;
  background: yellow;
  margin: 5px;
  border: 1px solid darkgoldenrod;
  transition: all 0.5s linear;
}

.card: {
  box-shadow: 2px 2px 4px 1px black;
}

.flex-box .card {
  border: 2px solid red;
}
